.divContainer1{
   margin-left: 100px;
   position: relative;
}

.divIcon{
   position: absolute;
   top: 2200px;
   left: 100%;
   transform: translate(-50%, -50%);
   
}

@media (max-width: 1538px) {
   .divIcon{
      position: absolute;
      top: 2300px;
      left: 100%;
      transform: translate(-50%, -50%);
   }
}

@media (max-width: 1483px) {
   .divIcon{
      position: absolute;
      top: 2200px;
      left: 100%;
      transform: translate(-50%, -50%);
   }
}
@media (max-width: 1465px) {
   .divIcon{
      position: absolute;
      top: 1800px;
      left: 100%;
      transform: translate(-50%, -50%);
   }
}
@media (max-width: 1398px) {
   .divIcon{
      position: absolute;
      top: 2300px;
      left: 100%;
      transform: translate(-50%, -50%);
   }
}
@media (max-width: 383px) {
   .divIcon{
      position: absolute;
      top: 1000px;
      left: 120%;
      transform: translate(-50%, -50%);
   }
}

 //Mobile
 @media (max-width: 414px) {
   .divContainer1{
      margin-left: 10px; 
   }

   .img{
      width: 450px;
      height: 30rem;
      margin-left: -55px;
      
   }

   .divIcon{
      position: absolute;
      top: 1300px;
      left: 110%;
      transform: translate(-50%, -50%);
   }
 }

@media (max-width: 392px) {

   .divContainer1{
      margin-left: 10px; 
   }

   .img{
      height: 25rem;
      width: 500px;
      margin-left: -90px;
      
   }

   .divIcon{
      position: absolute;
      top: 1200px;
      left: 120%;
      transform: translate(-50%, -50%);
   }
 }