.imgCentro {
  height: 30.5rem;
  margin-left: 5.6rem;
  width: 94.8%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.imgProg{
  height: 27rem;
  margin-left: 29.8rem;
  width: 40%;
  display: flex;
  align-items: center;
  cursor: pointer;
  
}

.divisor{
  height: "100%";
  margin-left: 13rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.divLogo{
  display: flex;
  align-items: center
}

.textoData{
  font-family: var(--font-montserrat);
  margin-left: 1rem;
  color: #3db2c3;
  font-size: 23px;
}

.imgLogo{
  margin-top: -1rem;
  margin-left: 14rem;
}

.textCont{
  margin-left: 15rem;
}

@media (max-width: 392px) {

  .imgCentro {
    height: 20.5rem;
    width: 460px;
    margin-left: -2.6rem;
  }

  .imgProg{
    height: 5rem;
    margin-left: -3rem;
    width: 500px;
  }

  .divisor{
    height: "100%";
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .imgLogo{
    margin-top: -1rem;
    margin-left: 2rem;
  }

  .textCont{
    margin-left: 1rem;
  }
  
}

@media (max-width: 414px) {

  .imgCentro {
    height: 20.5rem;
    width: 460px;
    margin-left: -1rem;
  }

  .imgProg{
    height: 5rem;
    margin-left: -3rem;
    width: 500px;
    
    
  }

  .divisor{
    height: "100%";
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .imgLogo{
    margin-top: -1rem;
    margin-left: 2rem;
  }

  .textCont{
    margin-left: 1rem;
  }
  
}