.headerContainer {
  //controle da altura entre o menu e o conteudo abaixo
  height: 17.5rem;
  position: sticky;
  top: 0;
} 

.img {
  margin-left: 5rem;
  cursor: pointer;
}

.divMenu {
  top: 280px;
  height: 3rem;
  line-height: 3;

  margin-left: 5.4rem;
  width: 89.1%;
  display: flex;
  align-items: center;

  nav {
    margin-left: 36rem;
    height: 10rem;

    a {
      position: relative;
      padding: 0 0.5rem;
      height: 6rem;
      line-height: 1rem;
      transition: color 0.3s;
      text-decoration: none;
      color: white;

      &+a {
        margin-left: 10rem;
      }

      &:hover {
        color: black;
      }

      &.active {
        color: aqua;
      }
    }
  }
}

.imgCentro {
  margin-left: 5.5rem;
  cursor: pointer;
}

.teste {
  background-color: aqua;
}

@media (max-width: 1471px) {
  .headerContainer {
    //controle da altura entre o menu e o conteudo abaixo
    height: 10.5rem;
    position: sticky;
    top: 0;
  }

  .divMenu {
    nav {
      margin-left: 25rem;
    }
  }
}

//Tela do monitor
@media (max-width: 1482px) {
  .headerContainer {
    //controle da altura entre o menu e o conteudo abaixo
    height: 14.1rem;
  }

  .divMenu {
    height: 3.5rem;

    nav {
      margin-left: 24rem;
    }
  }

  .img {
    margin-left: 5.2rem;
    cursor: pointer;
  }
}

@media (max-width: 1170px) {
  .headerContainer {
    //controle da altura entre o menu e o conteudo abaixo
    height: 5.5rem;
    position: sticky;
    top: 0;
  }
}

@media (max-width: 880px) {
  .headerContainer {
    //controle da altura entre o menu e o conteudo abaixo
    height: 1rem;
    position: sticky;
    top: 0;
  }
}

//Mobile
@media (max-width: 392px) {
  .img {
    margin-left: -5rem;
    width: 463px;
    height: auto;
    cursor: pointer;
  }

  .divMenu {
    height: 3rem;
    margin-left: 0rem;
    nav {
      margin-left: 7rem;
      height: 7.8rem;
      a {
        font-size: x-small;
        &+a {
          margin-left: 1rem;
        }
      }
    }
  }
}

//Mobile
@media (max-width: 414px) {
  .img {
    margin-left: -5rem;
    width: 560px;
    height: auto;
    cursor: pointer;
  }

  .divMenu {
    height: 3rem;
    margin-left: 0rem;
    nav {
      margin-left: 9rem;
      height: 7.8rem;
      a {
        font-size: x-small;
        &+a {
          margin-left: 1rem;
        }
      }
    }
  }
}